
      <!-- Footer  -->

      <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-6 footer-col">
              <!--Column1-->
              <div class="footer-pad">
                <h5>G . O . A . T</h5>
                <ul class="list-unstyled">
                  <li>G.O.A.T offers deals and discounts and never ceases to form campaigns all year around, all for the satisfaction and joy of our customers.
                  </li>
                </ul>
                <ul class="social-network social-circle">
                  <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/ahmed-maher-905435125/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a></li>
                  <li><a href="https://github.com/ah-maher94/online-shop" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                  <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  
                 </ul>	
              </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 footer-col">
              <!--Column2-->
              <div class="footer-pad">
                <h5>CONTACT INFO</h5>
                <ul class="list-unstyled">                 
                    <li><i class="fa fa-map-marker"></i>Downtown Cairo</li>
                    <li><i class="fa fa-phone"></i><strong>Phone:</strong> [+10] 20 21 4736</li>
                    <li><i class="fa fa-envelope"></i><strong>E-Mail: </strong><a href="#">ahmed-maher@website.com</a></li>
                    <li><i class="fa fa-globe"></i><strong>Web: </strong><a href="#">ahmed-maher.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 footer-col">
              <!--Column3-->
              <div class="footer-pad">
                <h5>ADDITIONAL LINKS</h5>
                <ul class="list-unstyled">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Terms and conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 footer-col">
              <!--Column4-->
              <div class="footer-pad">
                <h5>LATEST NEWS</h5>
                <ul class="list-unstyled">
                  <li><a href="#">Future design concept </a>February 3, 2020</li>
                  <li><a href="#">Stand out venues </a>January 25, 2020</li>
                  <li><a href="#">Technology upgraded </a>January 25, 2020</li>
                  <li><a href="#">Deliver fresh news </a>February 15, 2020</li>
                  <li><a href="#">Development solutions </a>January 25, 2020</li>
                  <li>
                    <a href="#"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2020 - Ahmed Maher.  All rights reserved.</p>
          </div>
        </div>
      
      
        </div>
        </div>
      </footer>
